body {
      background-color: #333333;
      color: #ffffcc;
      font-family: "Arial Black", Gadget, sans-serif;
}

div.dom {
  background-color: #555555;
  border: 3px solid;
   overflow:hidden;
  margin: 10px;
  
}

div.renderer{
  max-width:800px;
  /*float:right;*/
}

div.pattern{
  max-width:200px;
  float:left;
}


div.parameter {
  border: 2px solid;
  font-size: 12px;
  float: left;
  margin: 5px;
}

div.parameter.renderer{
width:20%;
max-width:100px;
}

div.parameter.behaviour{
  width:95%;
}


canvas{
  /*float: right;
  */margin:5px;
  width:75%;
  height:50%;
  max-width:500px;
}

div.input.box {
  border: 1px solid;
  margin: 5px;
}

div.input.title {
  margin: 3px;
  margin-left: 8px;
}

input[type="range"] {
  width: 80%;
}
input[type="checkbox"] {
  margin: 10px;
}

select{
  margin:10px;
}

table,th,td{
  border: 2px solid;
  min-width:100px;
}